﻿@model FsJuniorTestTask.Web.Models.Film.FilmDetailModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />

<div>
    <div class="row">
        <div class="col-sm-4">
            <img src="@Model.PosterPath" alt="Постер фильма" class="img-thumbnail">
        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Director)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Director)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <br />
    <a asp-action="List">К списку</a>
</div>
