﻿@model ListViewModel<FsJuniorTestTask.Core.Dto.FilmDto>

@addTagHelper *, FsJuniorTestTask.Web

@{
    ViewData["Title"] = "Фильмы";
}

<h1>Фильмы</h1>

<p><a asp-action="Create">Новый фильм</a></p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="get" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="filter" placeholder="Название">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Год выпуска
            </th>
            <th>
                Pежиссёр
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.ActionLink("Посмотреть", "Details", new { filmId = item.Id }) 
                @if (User.Identity.Name.Equals(item.Creator))
                {
                     @Html.ActionLink("Редактировать", "Edit", new {filmId = item.Id})
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>